@keyframes pop-in {
  //TODO Create mixin?
  0%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  90%{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100%{
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.pop-in{
  animation-name: pop-in;
  animation-duration: 0.25s;
}

@keyframes grow-in {
  //TODO Create mixin?
  0%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100%{
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.grow-in{
  animation-name: grow-in;
  animation-duration: 0.22s;
}

@keyframes slide-in-top {
  0%{ transform: translateY(-50px); opacity: 0; }
  100%{ transform: translateY(0px); opacity: 1; }
}
.slide-in-top{
  animation: slide-in-top 0.3s;
}
@keyframes slide-in-right {
  0%{ transform: translateX(50px); opacity: 0; }
  100%{ transform: translateX(0px); opacity: 1; }
}
.slide-in-right{
  animation: slide-in-right 0.3s;
}
@keyframes slide-in-left {
  0%{ transform: translateX(-50px); opacity: 0; }
  100%{ transform: translateX(0px); opacity: 1; }
}
.slide-in-left{
  animation: slide-in-left 0.3s;
}

@keyframes fade-in {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}
.fade-in{
  animation: fade-in 0.75s;
}


// Cycle messages animation
@keyframes cycle-messages-1 {
  0%{ opacity: 0; }
  5%{ opacity: 1; }
  34%{ opacity: 1; }
  35%{ opacity: 0; }
  100%{ opacity: 0; }
}
@keyframes cycle-messages-2 {
  0%{ opacity: 0; }
  35%{ opacity: 0; }
  40%{ opacity: 1; }
  100%{ opacity: 1; }
}
.cycle-messages{
  position: relative;
  // border: 2px solid red;
  top: 50%;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cycle-message{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  font-size: 2.0rem;
  color: lighten($font-color,50%);
}
.cycle-messages-1{
  animation: cycle-messages-1 15s infinite;
}
.cycle-messages-2{
  animation: cycle-messages-2 15s infinite;
}

@keyframes rotate-in {
  0%{ transform: rotateZ(45deg); }
  100%{ transform: rotateZ(0deg); }
}
.rotated-out{
  transform: rotateZ(45deg);
}
.rotated-in{
  animation-name: rotate-in;
  animation-duration: 0.22s;
}


@keyframes common-spinner {
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.common-spinner{
  animation: common-spinner 0.75s infinite;
}
