@import "colors";

$size: 100px;
$padding: 4px;
$height: $size;
$width: $size * 0.8;

div.cell{
  // border: 1px solid green;
  background-color: none;
  box-sizing: border-box;
  padding: $padding;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  font-family: "lato";
  width: $width;
  height: $height;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.1s ease-out;

  div{
    border-radius: 5px;
    line-height: ($height - ($padding * 2));
    color: black;
    background-color: #FFFFFF;
    &.blue{
      color: $background;
      background-color: $blue;
    }
    &.red{
      color: $background;
      background-color: $red;
    }
  }


  &.r0{ top: 0; }
  &.r1{ top: 1 * $size; }
  &.r2{ top: 2 * $size; }
  &.r3{ top: 3 * $size; }

  &.c0{ left: 0; }
  &.c1{ left: 1 * $width; }
  &.c2{ left: 2 * $width; }
  &.c3{ left: 3 * $width; }
}
