@import "./colors";
@import "./animations";
a{
  color: inherit;
  text-decoration: none;
}

.loader{
	text-align: center;
	i{
		font-size: 3.0rem;
		color: $primary-color;
	}
  &.larger{
    i{
      font-size: 4.5rem;
    }
  }
}

input.common{
	background-color: inherit;
	border: none;
	border-bottom: 1px solid $font-color;
	color: $font-color;
}
